<h1>Prueba de Proyecto</h1>
<form action="/productos/agregar" method="POST">
    <div>
        <label for="nombre">Escribe Nombre De Producto</label>
        <input type="text"  name="nombre" placeholder="name" id="nombre"/>
    </div>
    <div>
        <label for="descripcion">Escribe Descripcion De Producto:</label>
        <textarea name="descripcion" cols="25" rows="5" placeholder="Description"></textarea>
    </div>

    <div>
        <label for="precio">Escribe Precio De Producto</label>
        <input type="text"  name="precio" placeholder="Precio" id="precio"/>
    </div>
        <button>Agregar</button>

</form>

